body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 30px;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #222;
    color: #fff;
}

#output {
    font-size: 18px;
    text-align: center;
}

.joystick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 425px;
    width: 100px;
    height: 100px;
    background: rgba(216, 31, 31, 0.1);
    border-radius: 50%;
}

#locationImage {
    width: 300px;
    height: 267px;
}

#locationItemImage {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 150px;
    left: 125px;
}

.ui {
    height: 60px;
    width: 300px;
    background-image: url("../assets/img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slots {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    position: relative;

}



.items-actions {
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: -17px;
    left: -9px;

}

.item-image {
    cursor: pointer;
}

.item-image:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.btn-actions {
    font-size: 8px;
    margin: 1px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-actions:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}